@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.Layout {
  display: grid;
  grid-template-rows: 95px 300px 1fr 45px;
  min-height: 100vh;
}

.Layout.is-homepage {
  background-image: url("../../assets/it-me.jpg");
  background-position: 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
