.Header {
  align-items: center;
  background: black;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  justify-content: space-between;
}

.Header.is-homepage {
  background: transparent;
}

.Header__name {
  box-shadow: none;
  color: white;
  font-size: 36px;
  margin: 16px;
}

.Header.is-homepage .Header__name {
  text-shadow: #f74902 0 0 20px;
}

.Header.is-blurred .Header__name {
  color: transparent;
  text-shadow: white 0 0 20px;
}

.Header.is-blurred.is-homepage .Header__name {
  color: black;
}

.Header__nav {
  height: 26px;
  margin: 16px;
  position: relative;
  z-index: 20;
}

.Header__nav-hamburger {
  background: white;
  border-radius: 2px;
  height: 2px;
  position: relative;
  top: 12px;
  transition: 0.25s all ease;
  width: 30px;
}

.Header__nav-hamburger::before,
.Header__nav-hamburger::after {
  background: white;
  border-radius: 2px;
  content: '';
  height: 2px;
  position: absolute;
  transition: 0.25s all ease;
  width: 30px;
}

.Header__nav-hamburger::before {
  top: -10px;
}

.Header__nav-hamburger::after {
  top: 10px;
}

.Header.is-blurred .Header__nav-hamburger {
  background: transparent;
  transform: rotate(45deg);
}

.Header.is-blurred .Header__nav-hamburger::before,
.Header.is-blurred .Header__nav-hamburger::after {
  top: 0;
}

.Header.is-blurred .Header__nav-hamburger::after {
  transform: rotate(90deg);
}

.Header__menu {
  background-color: rgba(78, 78, 78, 0.85);
  font-size: 3em;
  height: 100vh;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Header__link-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Header__link {
  box-shadow: none;
  display: flex;
  flex: 0 1 auto;
  color: white;
}

.Header__link:hover {
  color: #f74902;
}
